@import url('https://fonts.googleapis.com/css?family=Anton');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@mixin center{
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin gradient{
    background-image: linear-gradient(to top, #051937, #0c2f5d, #104887, #1062b3, #007de1);
}

$background: #007DE1;
$font-color: #F9F871;
$font-family: 'Anton', sans-serif;


@import './reset';
@import './Dashboard';
@import './Login';
@import './Nav';
